<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Keep the APK installable on Android-compatible HarmonyOS builds by
         removing special-purpose Android declarations that are commonly blocked
         by non-AOSP package installers. This does not make the APK a native
         HarmonyOS NEXT HAP. -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:replace="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:replace="android:maxSdkVersion" />

    <queries tools:node="remove" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:requestLegacyExternalStorage="false"
        tools:replace="android:requestLegacyExternalStorage">
        <receiver
            android:name=".BootReceiver"
            tools:node="remove" />
        <service
            android:name=".FloatingWindowService"
            tools:node="remove" />
    </application>
</manifest>
